[run]
source =
    .
# excluding getaltname.py because argparse
# doesn't handle too well unittests and
# clipboard.py have a lot of issues with travis-ci
omit =
    gsan/tests/*
    gsan/__main__.py
    gsan/modules/clipboard.py
