[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

requests = "*"
colorama = "*"
cryptography = "*"
pyOpenSSL = "*"
"pyasn1" = "*"
ndg-httpsclient = "*"
pyperclip = "*"
tldextract = "*"
termcolor = "*"
tqdm = "*"


[dev-packages]

pudb = "*"
"flake8" = "*"


[requires]

python_version = "3.6"
