[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
colorama = "*"
pyperclip = "*"
termcolor = "*"
tldextract = "*"
tqdm = "*"
pyopenssl = "*"
"pyasn1" = "*"
ndg-httpsclient = "*"
"e1839a8" = {editable = true, path = "."}

[dev-packages]
coverage = "*"
coveralls = "*"

[requires]
python_version = "3.7"
