[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
colorama = "*"
cryptography = "*"
pyopenssl = "*"
"pyasn1" = "*"
ndg-httpsclient = "*"
pyperclip = "*"
tldextract = "*"
termcolor = "*"
tqdm = "*"
flask = "*"
gunicorn = "*"

[dev-packages]
pudb = "*"
"flake8" = "*"
coverage = "*"
python-coveralls = "*"
pylint = "*"

[requires]
python_version = "3.6"
