[build-system]
requires = ["setuptools", "wheel"]
build-backend = "setuptools.build_meta"

[project]
name = "gsan"
version = "5.0.0"
dependencies = ["typer", "rich", "pyasn1", "cryptography", "pyOpenSSL"]

[project.optional-dependencies]
dev = ["black"]

[project.scripts]
gsan = "gsan.main:app"

[tool.setuptools.packages.find]
where = ["src"]

[tool.black]
line-length = 90

[tool.pyright]
venvPath = "."
venv = ".venv"
