cffi==1.17.0
click==8.1.7
cryptography==43.0.3
markdown-it-py==3.0.0
mdurl==0.1.2
pyasn1==0.6.0
pycparser==2.22
Pygments==2.18.0
pyOpenSSL==24.2.1
rich==13.7.1
shellingham==1.5.4
typer==0.12.5
typing_extensions==4.12.2
