cffi==1.17.1
click==8.1.7
cryptography==44.0.0
markdown-it-py==3.0.0
mdurl==0.1.2
pyasn1==0.6.1
pycparser==2.22
Pygments==2.18.0
pyOpenSSL==24.3.0
rich==13.9.4
shellingham==1.5.4
typer==0.13.0
typing_extensions==4.12.2
